# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\camil\Documents\Camilo\Icesi\Sem3\APO II\WORKSPACE\Jfx-Restaurant-Administrator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
